.button {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 18px;
  border-radius: 5px;

  background: #47738ae1;
  color: #fff;
}

.button-communication {
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;

  background: #8d5c44;
}

.button:hover {
  background: #da953b;
  transition: all ease .3s;
}

@media (max-width: 700px) {
  .button {
    font-size: none;
    text-decoration: none;
    padding: none;
  }

  .button-footer {
    display: inline-block;
    font-size: 3vw;
    text-decoration: none;
    padding: 3vw 4vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}
