.content {
  padding: 20px 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-img {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 2px solid #0c8bcc;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
}

.icon {
  width: 70px;
}

.items {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #dfe3f0;
}

@media (max-width: 1200px) {
  .float-left {
    float: none;
  }

  .float-right {
    float: none;
  }

  .center {
    text-align: center;
  }

  .content-img {
    width: 300px;
  }
}

@media (max-width: 820px) {
  .content-img {
    width: 80%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .item {
    margin-bottom: 20px;
  }
}
