.footer {
  margin-top: auto;
  padding: 2% 0 1% 0;
  width: 100%;
  background: url("../images/footer_1.jpg") 100% 100%;
  background-size: contain;
  opacity: 0.9;
}

.footer-logo {
  align-items: center;
  padding-left: 15px;
  flex-grow: 1;
}

.footer-content {
  align-items: center;
  padding: 15px 15px 0 15px;
}

.footer-img {
  width: 60%;
}

@media (max-width: 820px) {
  .footer-img {
    width: 100%;
  }
}
