html, body {
  background-color: #edf3fd;
  height: 100%;
}

.wrapper {
  height: 100%;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row:after {
  display: block;
  content: " ";
  clear: both;
}

.col {
  padding: 15px;
  float: left;
  box-sizing: border-box;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

@media (max-width: 1200px) {
  .col-25 {
    float: left;
    width: 50%;
  }
}


@media (max-width: 820px) {
  .col {
    float: none;
  }

  .col-25 {
    width: 100%;
  }

  .col-50 {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
