.intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  background-attachment: fixed;
}

.text-intro-stationing {
  margin: 5% 5%;
  margin-left: 10px;
  margin-right: 10px;
}

